/*Add background*/
body {
    background-image: url(./images/extra_clean_paper.png);
    background-size: auto, cover; 
    height: auto;
} 
/*Style Header Tags*/
h1 {
    text-align: center;
    font-size: 60px; 
    font-weight:bold;
    font-family: 'Fredoka One', cursive;
}

h3 {
    text-align: center;
}

h4 {
    font-weight: bold; 
}

h5 {
    font-weight: bold;
    text-align: center;
   
}

/*Style the panels on the html page*/
#trainNameInput.form-control {
    width: auto;
}

#lineInput.form-control {
    width: auto;
}

#destinationInput.form-control {
    width: auto;
}

#trainTimeInput.form-control {
    width: auto;
}

#frequencyInput.form-control {
    width: auto;
}

.panel-body {
    border: solid 1px cornflowerblue;
    border-radius: 5px; 
    padding-left: 20px; 
    padding-top: 10px; 
    padding-bottom: 20px; 
    padding-right: 20px; 
}

.panel-title {
    margin-top: 20px; 
    margin-bottom: 20px; 
    background: cornflowerblue;
    border-radius: 5px; 
    padding: 10px;
    color: white; 
}

.form-group {
    width: 1000px;
}

label { 
    font-weight: bold; 
}

.panel.panel-primary {
    background: whitesmoke;
    padding-right:30px;
    padding-left:30px; 
    padding-top:10px;
    padding-bottom:20px;
}